---
http_interactions:
- request:
    method: post
    uri: http://www.ronlynn.com/TESTServices/services/PackedOrders
    body:
      encoding: UTF-8
      string: |
        <Envelope xmlns="http://schemas.xmlsoap.org/soap/envelope/">
          <Body>
            <getSelected xmlns="http://ws.rlm.com">
              <filterXML>
        &lt;ITEM_FILTER&gt;&lt;AUTHENTICATION&gt;&lt;USERNAME&gt;XXUSER&lt;/USERNAME&gt;&lt;KEY_VALUE&gt;XXKEY&lt;/KEY_VALUE&gt;&lt;/AUTHENTICATION&gt;&lt;COMPANY_NUMBER&gt;90&lt;/COMPANY_NUMBER&gt;&lt;/ITEM_FILTER&gt;</filterXML>
            </getSelected>
          </Body>
        </Envelope>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Soapaction:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="utf-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><soapenv:Body><getSelectedResponse xmlns="http://ws.rlm.com"><getSelectedReturn>&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; ?&gt;
        &lt;RESPONSE&gt;
        &lt;CODE&gt;1&lt;/CODE&gt;
        &lt;DESCRIPTION&gt;Success&lt;/DESCRIPTION&gt;
        &lt;DATA TABLENAME=&quot;PACKED_ORDERS&quot;&gt;
        &lt;RECSET&gt;
        &lt;REC&gt;&lt;COMPANY_NUMBER&gt;90&lt;/COMPANY_NUMBER&gt;
        &lt;COMPANY_NAME&gt;Test Company TEST COMPANY&lt;/COMPANY_NAME&gt;
        &lt;DIVISION_NUMBER&gt;10&lt;/DIVISION_NUMBER&gt;
        &lt;DIVISION_NAME&gt;Test Compa[...]
