---
http_interactions:
- request:
    method: post
    uri: http://www.ronlynn.com/TESTServices/services/SalesOrderNoAccount
    body:
      encoding: UTF-8
      string: |
        <Envelope xmlns="http://schemas.xmlsoap.org/soap/envelope/">
          <Body>
            <create xmlns="http://ws.rlm.com">
              <orderXML>
        &lt;order&gt;
        &lt;authentication&gt;
        &lt;username&gt;XXUSER&lt;/username&gt;
        &lt;key_value&gt;XXKEY&lt;/key_value&gt;
        &lt;/authentication&gt;
        &lt;company&gt;10&lt;/company&gt;
        &lt;division&gt;50&lt;/division&gt;
        &lt;email&gt;customer@gmail.com&lt;/email&gt;
        &lt;currency&gt;$&lt;/currency&gt;
        &lt;orderDate&gt;20120115&lt;/orderDate&gt;
        &lt;startDate&gt;20120115&lt;/startDate&gt;
        &lt;cancelDate&gt;2012[...]
