---
http_interactions:
- request:
    method: post
    uri: http://www.ronlynn.com/TESTServices/services/Item
    body:
      encoding: UTF-8
      string: |
        <Envelope xmlns="http://schemas.xmlsoap.org/soap/envelope/">
          <Body>
            <getInventory xmlns="http://ws.rlm.com">
              <filterXML>
        &lt;ITEM_FILTER&gt;&lt;AUTHENTICATION&gt;&lt;USERNAME&gt;XXUSER&lt;/USERNAME&gt;&lt;KEY_VALUE&gt;XXKEY&lt;/KEY_VALUE&gt;&lt;/AUTHENTICATION&gt;&lt;COMPANY_NUMBER&gt;1&lt;/COMPANY_NUMBER&gt;&lt;DIVISION_NUMBER&gt;10&lt;/DIVISION_NUMBER&gt;&lt;RETRIEVE_UPCS&gt;Y&lt;/RETRIEVE_UPCS&gt;&lt;ATS_POSITIVE&gt;Y&lt;/ATS_POSITIVE&gt;&lt;ATS_INCLUDES_WIP&gt;N&lt;/ATS_INCLUDES_WIP&gt;&lt;/ITEM_FILTER&gt;</filterXML>
            </getInventory>
          </Body>
        </Envelope>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Soapaction:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="utf-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><soapenv:Body><getInventoryResponse xmlns="http://ws.rlm.com"><getInventoryReturn>&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; ?&gt;
        &lt;RESPONSE&gt;
        &lt;CODE&gt;1&lt;/CODE&gt;
        &lt;DESCRIPTION&gt;Success&lt;/DESCRIPTION&gt;
        &lt;TOTAL_RECORDS&gt;4218&lt;/TOTAL_RECORDS&gt;
        &lt;DATA TABLENAME=&quot;INVENTORY_MASTER&quot;&gt;
        &lt;RECSET&gt;
        &lt;REC&gt;&lt;COMPANY&gt;1&lt;/COMPANY&gt;
        &lt;DIVISION&gt;10&lt;/DIVISION&gt;
        &lt;SEASON_CODE&gt;P&lt;/SEASON_CODE&gt;
        &lt;SEASON_YEAR&gt;12&lt;/S[...]
