---
http_interactions:
- request:
    method: post
    uri: http://www.ronlynn.com/CLOVServices/services/Item
    body:
      encoding: UTF-8
      string: |
        <Envelope xmlns="http://schemas.xmlsoap.org/soap/envelope/">
          <Body>
            <getInventory xmlns="http://ws.rlm.com">
              <filterXML>
        &lt;ITEM_FILTER&gt;
        &lt;AUTHENTICATION&gt;
        &lt;USERNAME&gt;XXUSER&lt;/USERNAME&gt;
        &lt;KEY_VALUE&gt;XXKEY&lt;/KEY_VALUE&gt;
        &lt;/AUTHENTICATION&gt;
        &lt;COMPANY_NUMBER&gt;90&lt;/COMPANY_NUMBER&gt;
        &lt;/ITEM_FILTER&gt;
        </filterXML>
            </getInventory>
          </Body>
        </Envelope>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Soapaction:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="utf-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><soapenv:Body><getInventoryResponse xmlns="http://ws.rlm.com"><getInventoryReturn>&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; ?&gt;
        &lt;RESPONSE&gt;
        &lt;CODE&gt;0&lt;/CODE&gt;
        &lt;DESCRIPTION&gt;The user/key combination does not exist&lt;/DESCRIPTION&gt;
        &lt;/RESPONSE&gt;
        </getInventoryReturn></getInventoryResponse></soapenv:Body></soapenv:Envelope>
  recorded_at: Wed, 16 Mar 2016 14:41:15 GMT
recorded_with: VCR 2.9.3
